[submodule "3rdParty/PicoSHA2"]
	path = 3rdParty/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
[submodule "3rdParty/json"]
	path = 3rdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdParty/meson_toolchains"]
	path = 3rdParty/meson_toolchains
	url = https://github.com/uyjulian/meson_toolchains.git
